$containerWidth: 940px;
$baseFontSize: 18px;
// 
$blue: #61c4d9;
$darkGreen: #0b4d3c;
// normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
// setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "layout";
